<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{'error' : !validateFirstName()}">
        <label for="firstname">First Name:</label>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstname.errors.required">Required</em>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstname.errors.pattern">Must start with a letter</em>
        <input formControlName="firstname" id="firstname" type="text" class="form-control" placeholder="First Name" />
      </div>
      <div class="form-group" [ngClass]="{'error' : !validateLastName()}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validateLastName() && profileForm.controls.lastname.errors.required">Required</em>
        <em *ngIf="!validateLastName() && profileForm.controls.lastname.errors.pattern">Must start with a letter</em>
        <input formControlName="lastname" id="lastname" type="text" class="form-control" placeholder="Last Name" />
      </div>

      <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>

      <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
    </form>
  </div>
</div>
