<div class="well hoverwell thumbnail" [routerLink]="['/events', event.id]">
  <h2>{{event.name}}</h2>
  <div>Date: {{event.date | date}}</div>
  <div [ngSwitch]="event?.time">
    Time: {{event.time}}
    <span *ngSwitchCase="'8:00 am'" class="pad-left">(Early Start)</span>
    <span *ngSwitchCase="'10:00 am'" class="pad-left">(Late Start)</span>
    <span *ngSwitchDefault class="pad-left">(Normal Start)</span>
  </div>
  <div>Price: {{event.price | currency:'USD'}}</div>
  <div *ngIf="event?.location">
    <span>Location: {{event.location.address}}</span>
    <!-- <span>&nbsp;</span> -->
    <span class="pad-left">{{event.location.city}}, {{event.location.country}}</span>
  </div>
  <div *ngIf="event?.onlineUrl">Online URL: {{event.onlineUrl}}</div>
  <!-- <button class="btn btn-primary" (click)="handleClickMe()">
    Click Me!
  </button> -->
</div>
